.catalog {
  padding: 50px;
  text-transform: uppercase;
  background-color: #ffd60a;
  color: #fff;
}

.catalog__title {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
}

.catelog_listCourse {
  padding: 50px;
}

.catelog__cateName {
  display: flex;
  align-items: center;
}
.catelog_button {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 12px 10px;
  cursor: default;
  border: 2px solid #e4e4e4;
  outline: none;
  transition: 0.5s linear;
  font-weight: 600 !important;
}

.catelog_button:hover {
  border: 2px solid #113d3c;
  transform: scale(0.98);
}

.catelog_button > svg {
  margin-right: 8px;
  color: #ffd60a;
}

.tooltip {
  display: block;
}

@media (max-width: 1200px) {
  .catalog {
    padding: 40px;
  }
  .catalog__title {
    font-size: 1.5rem;
  }
  .catelog_listCourse {
    padding: 40px;
  }
}

@media (max-width: 900px) {
  .catalog {
    padding: 30px;
  }
  .catalog__title {
    font-size: 1.25rem;
  }
  .catelog_listCourse {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding: 20px;
  }
  .catalog__title {
    font-size: 1rem;
  }
  .catelog_listCourse {
    padding: 20px;
  }
  .catelog_grid {
    padding: 0px 40px !important;
    margin-left: -20px !important;
  }
  .tooltip {
    display: none;
  }
}
